.wrapper {
    --search-border-radius: 92px;
    --search-height: 46px;
    width: 100%;
    height: var(--default-layout-header-height);
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
    display: flex;
    justify-content: center;
}

.inner {
    height: 100%;
    width: var(--default-layout-width-content);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    display: flex;
}

.search,
.search-result {
    width: 361px;
}
.search {
    position: relative;
    display: flex;

    height: var(--search-height);
    padding-left: 16px;
    background-color: rgba(22, 24, 35, 0.06);
    border-radius: var(--search-border-radius);

    input {
        flex: 1;
        height: 100%;
        color: #000;
        font-size: 1.6rem;

        background-color: transparent;
    }

    &::after {
        content: '';
        position: absolute;
        top: 9px;
        width: 1px;
        height: calc(var(--search-height) - 18px);
        background-color: rgba(22, 24, 35, 0.12);
    }
}

.search-title {
    padding: 5px 12px;
    color: rgb(174, 169, 169);
    font-size: 1.4rem;
    font-weight: 520;
}

.clear,
.loading {
    position: absolute;
    right: 52px;
    top: 50%;
    transform: translateY(-50%);
    color: rgba(22, 24, 35, 0.34);
}
.search-btn {
    width: 52px;
    height: 100%;
    border-top-right-radius: var(--search-border-radius);
    border-bottom-right-radius: var(--search-border-radius);
    font-size: 1.8rem;
    color: rgba(22, 24, 35, 0.34);

    &:hover {
        cursor: pointer;
        background-color: rgba(22, 24, 35, 0.03);
    }
}
