.wrapper {
    display: flex;
    align-items: center;
    padding: 9px 16px;
    cursor: pointer;

    &:hover {
        background-color: rgb(240, 236, 236);
    }
}
.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}
.info {
    flex: 1;
    margin-left: 12px;
}
.name {
    font-size: 1.6rem;
    font-weight: 510;
}
.check {
    margin-left: 6px;
    color: rgb(48, 185, 185);
}
.username {
    font-size: 1.4rem;
}
